# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
game.pro.user
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
debug/
game
*.gcda
*.gcno
*.bz2
*.pgn
doc/
build/
*.bak
html/
latex/
conquer_chess_plugin_import.cpp
release/
conquer_chess_linux_static
build_cmake/
steam_output/
game_view_layout.png
game_view_layout_1600_x_900.png
game_view_layout_1920_x_1080.png
.qtc_clangd
conquer_chess
conquer_chess_error.txt
tmp.txt
tmp.csv
tmp_*.wkt
tmp_read_lines_test.txt
SFGraphing/
SFML-2.6.1/
chess-library/
magic_enum/
